<template>
  <div id="page-top" class="sidebar-toggled">
    <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion"  id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <nuxt-link class="sidebar-brand d-flex align-items-center justify-content-center" to="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="/assets/image/Logo-CB-Website.png" alt="logo" width="35" height="35"/>
        </div>
        <div class="sidebar-brand-text mx-3">Cang Bani</div>
      </nuxt-link>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item" id="dashboard" >
        <nuxt-link class="nav-link" to="/admin/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </nuxt-link>
      </li>
      <li class="nav-item" id="indo-lang">
        <nuxt-link class="nav-link" to="/admin/indo-lang">
          <i class="fas fa-fw fa-comment-alt"></i>
          <span>Content Indonesia</span></nuxt-link>
      </li>
      <li class="nav-item" id="english-lang">
        <nuxt-link class="nav-link" to="/admin/english-lang">
          <i class="fas fa-fw fa-comment-alt"></i>
          <span>Content Inggris</span></nuxt-link>
      </li>
      <li class="nav-item" id="image">
        <nuxt-link class="nav-link" to="/admin/image">
          <i class="fas fa-fw fa-images"></i>
          <span>Image Content</span></nuxt-link>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <div class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
          </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item">
              <div class="nav-link" id="userDropdown" >
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{$auth.$state.user}}</span>
                <img class="img-profile rounded-circle" src="/assets/image/Logo CB Website Footer.png" alt="logo" width="24" height="24"/>
              </div>
            </li>
            <li class="nav-item" role="button">
              <span class="nav-link" title="SignOut" @click="$auth.logout()">
                <i class="fas fa-sign-out-alt"></i>
              </span>
            </li>


          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" id="container-wrapper"  >
          <nuxt/>
        </div>
        <!-- /.container-fluid -->


      </div>
      <!-- End of Main Content -->

<!-- Footer -->
      <footer class="main-footer sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>
              Copyright ©
              <nuxt-link to="/">Cangbani.com</nuxt-link>
              {{new Date().getFullYear()}}</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  </div>
</template>

<script>
export default {
  middleware : 'auth',
  data(){
    return {

    }
  },
  methods : {

  },
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => {
        this.$nuxt.$loading.finish()
      }, 3000)
    })

    setTimeout(() => {
      switch (window.location.pathname.split('/')[2]) {
        case window.location.pathname.split('/')[2]:
          $(`#${window.location.pathname.split('/')[2]}`).addClass('active');
          break;
        default:
          break;
      }

      $('ul>li').on('click', function () {
          $('ul>li').removeClass('active');
          $(this).addClass('active');
      });
    }, 3000)
  },
  head : {
    link : [

      {
        rel: "stylesheet",
        href: "/vendor/fontawesome-free/css/all.min.css"
      },
      {
        rel: "stylesheet",
        href: "/css/sb-admin-2.min.css"
      },
    ],
    script: [
      {
        src : "/vendor/bootstrap/js/bootstrap.bundle.min.js",
        type: "text/javascript"
      },
      {
        type: "text/javascript",
        src: "/vendor/jquery-easing/jquery.easing.min.js"
      },
      {
        type: "text/javascript",
        src: "/js/sb-admin-2.min.js"
      },
    ],
  },
  computed : {
    nowYear(){
      return new Date().getFullYear()
    }
  }
}
</script>

<style scoped>
  #content-wrapper {
    min-height: 70vmax ;
    flex: 1;
    display: flex;
  }
  #accordionSidebar {
    z-index: 2;
  }

  #container-wrapper {
    padding-left: 12vmax;
  }

  .container-fluid{
    z-index: -1;
  }
  .sidebar-brand{
    margin-top: 2vmax;
  }
  .sidebar {
    position: fixed;
    height: 55vmax;
    padding: 3vmax 0;
  }

  @media only screen and (max-width: 600px) {
    #container-wrapper {
      padding: 2vmax;
      /* z-index: -99999; */
    }
    .navbar {
      z-index: 3;
    }
    #accordionSidebar {
      z-index: 2;
    }
    .sidebar-brand{
      margin-top: 5vmax;
    }
    #content-wrapper {
      min-height: 110vmax ;
    }
  }
</style>
