<template>
  <div class="wrapper">
    <Header/>
    <div class="container-custom">
      <nuxt />
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from '~/components/Base/Header'
import Footer from '~/components/Base/Footer'
export default {
  components : {
    Header,
    Footer
  },
  middleware : 'i18n',
  mounted(){
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => {
        this.$nuxt.$loading.finish()
      }, 4000)
    })
    //  $('a[href^="#"]').on('click', function(event) {
    //     var target = $(this.getAttribute('href'));
    //     console.log("target ",target);
    //     if (target.length) {
    //       event.preventDefault();
    //       $('html, body').animate({
    //         scrollTop: target.offset().top
    //       }, 1000);
    //     }
    //   });
  },
  head : {
    link: [
      { rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
      {
        rel: "stylesheet",
        href: "/assets/owl/dist/assets/owl.carousel.min.css"
      },
      {
        rel: "stylesheet",
        href: "/assets/owl/dist/assets/owl.theme.default.min.css"
      },
      {
        rel: "stylesheet",
        type: "text/css",
        href: "https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
      },
      {
        rel: "stylesheet",
        href: "/assets/fa/css/font-awesome.min.css"
      },
    ],

  }

}
</script>
<style scoped>
  .container-custom {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
</style>
