<template>
  <v-app dark>
    <h1 v-if="error.statusCode === 404">
      <div class="container-fluid">
        <div class="text-center">
          <div class="error mx-auto" data-text="404">404</div>
          <p class="lead text-gray-800 mb-5">{{ pageNotFound }}</p>
          <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
          <a class="nav-link" href="/">
            Back To Home page <i class="fa fa-home"></i>
          </a>
        </div>
      </div>

    </h1>
    <h1 v-else>
      <div class="container-fluid">
        <div class="text-center">
          <div class="error mx-auto" data-text="500">500</div>
          <p class="lead text-gray-800 mb-5">{{ otherError }}</p>
          <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
          <a class="nav-link" href="/">
            Back To Home page <i class="fa fa-home"></i>
          </a>
        </div>
      </div>
    </h1>
  </v-app>
</template>

<script>
export default {
  layout: 'blank',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  },
  head () {

    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title,
      link: [
        { rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
        {
          rel: "stylesheet",
          type: "text/css",
          href: "https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
        },
        {
          rel: "stylesheet",
          // href: "/assets/fa/css/font-awesome.min.css"
          href: "/vendor/fontawesome-free/css/all.min.css"
        },
        {
          rel: "stylesheet",
          href: "/css/sb-admin-2.min.css"
        },
      ],

      script : [
        {
          src: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
          // src : "/vendor/bootstrap/js/bootstrap.bundle.min.js",
          type: "text/javascript"
        },
        {
          src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js",
          type: "text/javascript"
        },
        {
          src: "https://code.jquery.com/jquery-3.2.1.slim.min.js",
          // src: "/vendor/jquery/jquery.min.js",
          type: "text/javascript",
        },
      ]
    }
  },
}
</script>

<style scoped>
  h1 {
    font-size: 20px;
  }
  .container-fluid {
    margin-top: 15vmax;
  }
</style>
