<template>
  <nuxt/>
</template>

<script>
export default {
  mounted(){
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => {
        this.$nuxt.$loading.finish()
      }, 3000)
    })
  },
  head : {
    link: [
      { rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' },
      {
        rel: "stylesheet",
        type: "text/css",
        href: "https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
      },
      {
        rel: "stylesheet",
        // href: "/assets/fa/css/font-awesome.min.css"
        href: "/vendor/fontawesome-free/css/all.min.css"
      },
      {
        rel: "stylesheet",
        href: "/css/sb-admin-2.min.css"
      },
    ],

    script : [
      {
        src: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
        // src : "/vendor/bootstrap/js/bootstrap.bundle.min.js",
        type: "text/javascript"
      },
      {
        src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js",
        type: "text/javascript"
      },
      {
        src: "https://code.jquery.com/jquery-3.2.1.slim.min.js",
        // src: "/vendor/jquery/jquery.min.js",
        type: "text/javascript",
      },
    ],
  }
}
</script>

<style scoped>
  body {
    margin: 0;
    padding: 0;
    background-color: grey;
    height: 100vh;
  }

</style>
