<template>
  <div class="wrapper-footer" style="background-color:#949494">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2">
          <NuxtLink :to="$i18n.path('')">
            <img class="img-responsive" src="/assets/image/Logo CB Website Footer.png" style="height:5.4rem;width:5.4rem;"/>
          </NuxtLink>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <ul class="list__links">
            <li class="nav-item" @click="clickHref">
              <nuxt-link class="nav-link text-light" :to="$store.state.lang == 'id' ? $i18n.path('tentang-kami#introductionSection') : $i18n.path('about-us#introductionSection')">{{$t('links.introduction')}}</nuxt-link>
            </li>
            <li class="nav-item" @click="clickHref">
              <nuxt-link class="nav-link text-light" :to="$store.state.lang == 'id' ? $i18n.path('tentang-kami#vision-mission') : $i18n.path('about-us#vision-mission')">{{$t('links.vision')}}</nuxt-link>
            </li>
            <li class="nav-item" @click="clickHref">
              <nuxt-link class="nav-link text-light" :to="$store.state.lang == 'id' ? $i18n.path('tentang-kami#coreValues') : $i18n.path('about-us#coreValues')">{{$t('links.core')}}</nuxt-link>
            </li>
            <li class="nav-item" @click="clickHref">
              <nuxt-link class="nav-link text-light" :to="$store.state.lang == 'id' ? $i18n.path('#ourWorks') : $i18n.path('#ourWorks')">{{$t('links.works')}}</nuxt-link>
            </li>
            <li class="nav-item" @click="clickHref">
              <nuxt-link class="nav-link text-light" :to="$store.state.lang == 'id' ? $i18n.path('#certified') : $i18n.path('#certified')">{{$t('links.certified')}}</nuxt-link>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <ul class="list__links">
            <li class="nav-item" @click="clickHref">
              <nuxt-link class="nav-link text-light" :to="$store.state.lang == 'id' ? $i18n.path('#productService') : $i18n.path('#productService')">{{$t('links.product')}}</nuxt-link>
            </li>
            <li class="nav-item" @click="clickHref">
              <nuxt-link class="nav-link text-light" :to="$store.state.lang == 'id' ? $i18n.path('#advantages') : $i18n.path('#advantages')">{{$t('links.advantages')}}</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link class="nav-link text-light" :to="$store.state.lang == 'id' ? $i18n.path('hubungi-kami') : $i18n.path('contact-us')">{{$t('links.contact')}}</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link class="nav-link text-light" :to="$store.state.lang == 'id' ? $i18n.path('kebijakan-privasi') : $i18n.path('privacy-policy')">{{$t('links.privacy')}}</nuxt-link>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div>
            <v-icon large style="color:orange;">mdi-star</v-icon>
            <v-icon large style="color:orange;">mdi-star</v-icon>
            <v-icon large style="color:orange;">mdi-star</v-icon>
            <v-icon large style="color:orange;">mdi-star</v-icon>
            <v-icon large style="color:orange;">mdi-star</v-icon>
          </div>
          <div style="padding:15px 5px;">
            <a style="text-decoration:none;" target="_blank" :href="$t('contact.instagram')"><v-icon size="50" class="text-light">mdi-instagram</v-icon></a>
            <a style="text-decoration:none;" :href="'mailto:'+$t('contact.email') + '?subject = Feedback Cang Bani&body = Hallo Cang Bani'"><v-icon size="55" class="text-light">mdi-email-outline</v-icon></a>
          </div>
          <div class="text-title font-weight-bold">
            {{$t('home.title')}}
          </div>
          <hr style="border: 2px solid #f8f9fa">
        </div>
      </div>
      <div class="row justify-content-center text-center padd-bott">
        <div class="col-sm-12 col-md-6 col-lg-6 text-light font-weight-bold">
          Copyright	&copy; PT. Cang Bani Industries   |  {{new Date().getFullYear()}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods : {
    clickHref(){
      return window.history.replaceState({}, document.title, window.location.pathname)
    }
  }
}
</script>

<style lang="css">
  .padd-bott {
    padding-bottom: 2vmax;
    font-family: 'NeoSansBold';
  }
  .list__links {
    list-style-type: none;
    text-decoration: none !important;
  }

  .text-title {
    font-family: 'NeoSansBold';
    color: #f8f9fa;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .wrapper-footer {
    padding-top: 2vmax ;
  }
</style>
