<template>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark header-custom">
      <NuxtLink :to="$i18n.path('')" class="navbar-brand">
        <img src="/assets/image/Logo-CB-Website.png" width="50" height="50" class="d-inline-block align-top" alt="CangBani Logo">
      </NuxtLink>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-uppercase" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" @click="clickHref">
            <nuxt-link class="nav-link text-light" data-toggle="collapse" :to="lang == 'id' ? $i18n.path('tentang-kami') : $i18n.path('about-us')">{{$t('links.about')}}</nuxt-link>
          </li>
          <li class="nav-item" @click="clickHref">
            <nuxt-link class="nav-link text-light" data-toggle="collapse" :to="lang == 'id' ? $i18n.path('#productService') : $i18n.path('#productService')">{{$t('links.product')}}</nuxt-link>
          </li>
          <li class="nav-item" @click="clickHref">
            <nuxt-link class="nav-link text-light" data-toggle="collapse" :to="lang == 'id' ? $i18n.path('#advantages') : $i18n.path('#advantages')">{{$t('links.advantages')}}</nuxt-link>
          </li>
          <li class="nav-item" @click="clickHref">
            <nuxt-link class="nav-link text-light" data-target="#ourWorks" data-toggle="collapse" exact :to="lang == 'id' ? $i18n.path('#ourWorks') : $i18n.path('#ourWorks')">{{$t('links.experience')}}</nuxt-link>
          </li>
          <!-- <li class="nav-link hide-for-small">
            <span id="before-select"><img :src="lang == 'id' ? '/assets/flag/id.png' : '/assets/flag/gb.png'" alt="id-flag" width="17" height="14"></span>
          </li> -->
          <li class="nav-link justify-content-center">
            <span id="before-select" class="col-1 hide-for-large"><img :src="lang == 'id' ? '/assets/flag/id.png' : '/assets/flag/gb.png'" alt="id-flag" width="17" height="14"></span>
            <span><select :value="lang" v-model="lang" @change="handleChangeLang" name="lang" id="lang" class="custom-select custom-select-sm custom-select-header col-10">
              <option value="id" :selected="lang == 'id'" :disabled="lang == 'id'" style="color:white;background-color:#949494;">{{$t('links.indonesian')}}</option>
              <option value="en" :selected="lang == 'en'" :disabled="lang == 'en'" style="color:white;background-color:#949494;">{{$t('links.english')}}</option>
            </select></span>
            <!-- <v-icon  @click="selectOpen">mdi-menu-down</v-icon> -->
          </li>
        </ul>
        <ul class="navbar-nav">
          <div class="nav-item" @click="clickHref">
            <nuxt-link class="nav-link text-light border-contact" data-toggle="collapse" :to="lang == 'id' ? $i18n.path('hubungi-kami') : $i18n.path('contact-us')">{{$t('links.contact')}}</nuxt-link>
          </div>
        </ul>
      </div>
    </nav>
</template>

<script>
import { mapState } from "vuex"
export default {
  computed : {
    ...mapState({
      lang : state => state.lang
    })
  },
  methods : {
    clickHref(){
      return window.history.replaceState({}, document.title, window.location.pathname)
    },

    handleChangeLang(e){
      const { name, value} = e.target
      this.$store.commit('SET_LANG', value)
      const path = this.$route.fullPath != '/' ? this.$route.fullPath : ''
      if(value == 'en'){
        window.location.href = this.switchLocalePath('en')
      }else {
        window.location.href = this.switchLocalePath('id')
      }
    }
  },
  mounted(){
    $('a').click(() => {
      const toggleNavEl = document.getElementById('navbarCollapse')
      let isNavShowing = toggleNavEl.classList.contains('show')
      if(isNavShowing){
        toggleNavEl.setAttribute('class', 'collapse navbar-collapse text-uppercase')
      }
    })
  }
}
</script>

<style lang="css">
  .header-custom {
    background-color:#949494;
    position: sticky;
    display: block;
  }
  select::-ms-expand {
    display: block;
    appearance: menulist;
  }

  .custom-select-header {
    background: #949494 url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right .3rem center !important;
    color : #fff !important;
    -webkit-appearance: none;
    width: 4rem !important;
    border: 0 !important;
  }

  .hide-for-large {
    /* display: none; */
    margin-right: -.3rem;
  }

  .hide-for-small {
    display: block !important;
  }

  .border-contact {
    border: 2.4px solid #fff;
    font-family: 'NeoSansBold';
  }

  @media only screen and (max-width: 1023),  only screen and (max-device-width: 767px) {
    .hide-for-large {
      display: inline-block !important;
    }

    .hide-for-small {
      display: none !important;
    }

    .border-contact {
      border : 0px !important;
    }
  }

  @media only screen and (max-width: 600){
    .border-contact {
      border : 0px !important;
    }
  }
</style>
