<template>
  <div>
    <h3 class="text-center">Dashboard Management</h3>

    <div class="row">
      <div class="col-lg-6 mb-4">

        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-secondary">
            <h6 class="m-0 font-weight-bold text-light">User Account Register
              <span class="float-right">
                <button @click="toggleFormRegister" :class="formRegisterIsDisable ? `btn btn-sm btn-outline-info` : `btn btn-sm btn-info`">Register</button>
              </span>
            </h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <form class="user" @submit="onSubmitRegister">
                    <div class="form-group">
                      <input :disabled="formRegisterIsDisable" v-model="form.username" type="text" class="form-control" aria-describedby="username" placeholder="Enter Username ">
                    </div>
                    <div class="form-group">
                      <input :disabled="formRegisterIsDisable" autocomplete="username" type="email" v-model="form.email"  class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address">
                    </div>
                    <div class="input-group">
                      <input :disabled="formRegisterIsDisable" autocomplete="current-password" v-model="form.password"  :type="isVisible ? 'text' : 'password'" name="password" class="form-control" id="exampleInputPassword" placeholder="Enter Password">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" @click="togglePass">
                          <template v-if="isVisible">
                            <i class="fa fa-eye"></i>
                          </template>
                          <template v-else>
                            <i class="fa fa-eye-slash"></i>
                          </template>
                        </span>
                      </div>
                    </div>
                    <hr>
                    <input :disabled="formRegisterIsDisable" type="submit" name="submit" class="btn btn-primary btn-user btn-block" value="Daftar">
                  </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-secondary">
            <h6 class="m-0 font-weight-bold text-light">
              Contact Management
              <span class="float-right">
                <button @click="toggleFormEdit" class="btn btn-sm btn-info">EDIT</button>
              </span>
            </h6>
          </div>
          <div class="card-body">
            <form @submit="submitEditDataContact">
              <div class="form-group">
                <label>Address</label>
                <input :disabled="formContactIsDisabable" v-model="contact.address" type="text" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Enter Address">
                <small id="addressHelp" class="form-text text-muted">Alamat Lengkap PT. Cang Bani</small>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input :disabled="formContactIsDisabable" v-model="contact.email" type="text" class="form-control" id="emailCB" aria-describedby="emailHelp" placeholder="Enter Email">
                <small id="emailHelp" class="form-text text-muted">Alamat Email PT. Cang Bani</small>
              </div>
              <div class="form-group">
                <label>Telephone</label>
                <input :disabled="formContactIsDisabable" v-model="contact.telephone" type="text" class="form-control" id="teleponCB" aria-describedby="teleponCBHelp" placeholder="Enter Telephone">
                <small id="teleponCBHelp" class="form-text text-muted">Nomor Telepon PT. Cang Bani</small>
              </div>
              <div class="form-group">
                <label>WhatsApp Number</label>
                <input :disabled="formContactIsDisabable" v-model="contact.whatsapp" type="text" class="form-control" id="waCB" aria-describedby="waCBHelp" placeholder="Enter WhatsApp Number">
                <small id="waCBHelp" class="form-text text-muted">Nomor WhatsApp Lengkap PT. Cang Bani</small>
              </div>
              <div class="form-group">
                <label>Instagram</label>
                <input :disabled="formContactIsDisabable" v-model="contact.instagram" type="text" class="form-control" id="igCB" aria-describedby="igCBHelp" placeholder="Enter Instagram URL">
                <small id="igCBHelp" class="form-text text-muted">URL Instagram PT. Cang Bani</small>
              </div>
              <div class="form-group">
                <label>WEB Address</label>
                <input :disabled="formContactIsDisabable" v-model="contact.web" type="text" class="form-control" id="webCB" aria-describedby="webCBHelp" placeholder="Enter WEB Address">
                <small id="webCBHelp" class="form-text text-muted">WEB PT. Cang Bani</small>
              </div>
              <hr>
              <input :disabled="formContactIsDisabable" type="submit" name="submit" class="btn btn-primary btn-user btn-block" value="SUBMIT UPDATE">
            </form>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-secondary">
            <h6 class="m-0 font-weight-bold text-light">Upload Kebijakan Privasi
            </h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <form class="user" @submit="onSubmitPDF">
                  <!-- http://infolab.stanford.edu/pub/papers/google.pdf -->
                  <!-- http://cangbani.com/kebijakan-privasi/Privacy_Policy.pdf -->
                  <!-- http://docs.google.com/gview?url=http://localhost:3000/kebijakan-privasi/Privacy_Policy.pdf -->
                  <iframe src="https://docs.google.com/gview?url=https://cangbani.com/kebijakan-privasi/Privacy_Policy.pdf&embedded=true" style="width:100%; height:375px;" frameborder="0"></iframe>
                    <div class="form-group">
                      <input
                        id="pdfUpload"
                        ref="pdfUpload"
                        @change="fileUpload"
                        type="file"
                        class="form-control"
                        placeholder="PDF UPLOAD"
                      />
                    </div>
                    <hr>
                    <input type="submit" name="submit" class="btn btn-secondary btn-user btn-block" value="Upload">
                  </form>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-success">
            <h6 class="m-0 font-weight-bold text-light">List Account User</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <template v-for="(users, idx) in allUsers">
                  <div :key="idx">
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="border-left-dark list-group-item">Username : {{users.username}}</li>
                        <li class="border-left-dark list-group-item">Email : {{users.email}}</li>
                        <li class="border-left-dark list-group-item">Dibuat Tanggal : {{new Date(users.created_at)}}</li>
                      </ul>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import {mapActions} from "vuex"

export default {
  layout : 'dashboard',
  middleware : 'auth',
   data() {
    return {
      formContactIsDisabable : true,
      formRegisterIsDisable : true,
      error : null,
      isVisible : false,
      form : {
        email : '',
        username : '',
        password: ''
      },
      allUsers : [],
      contact : {
        address : '',
        email : '',
        telephone : '',
        whatsapp :'',
        instagram : '',
        web : '',
      },
      filePdf : '',
    }
  },
  methods :{
    ...mapActions(['showLoadingPage']),
    async onSubmitPDF(e){
      e.preventDefault()
      const formData = new FormData()
      formData.append('kebijakan', this.filePdf)
      this.showLoadingPage(true)
      const res = await this.$axios.$post('/api/content/add-pdf', formData).catch(err => this.$swal('Oops', err.response.data.message, 'error'))
      if(res.success){
        this.$swal('Sukses', 'Upload Kebijakan Privasi', 'success')
        this.filePdf= ''
      $('#pdfUpload').val(null)
      }
    },
    fileUpload(){
      const [file] = this.$refs.pdfUpload.files
      this.filePdf = file
    },
    toggleFormEdit(){
      this.formContactIsDisabable = !this.formContactIsDisabable
    },
    toggleFormRegister(){
      this.formRegisterIsDisable = !this.formRegisterIsDisable
    },
    async onSubmitRegister(e){
      e.preventDefault();

      const register = await this.$axios.$post('/api/auth/register', this.form).catch(err => this.$swal('Oops', err.response.data.message, 'error'))
      if(register.success){
        this.$swal('Sukses', 'Mendaftarkan User Baru', 'success')
        this.form.username = ''
        this.form.email = ''
        this.form.password = ''
        this.formRegisterIsDisable = true
        this.getAllUsers()
      }
    },
    togglePass(){
      this.isVisible = !this.isVisible
    },
    async getAllUsers(){
      const users = await this.$axios.$get('/api/auth/get-users').catch(err => this.$swal('Oops', err.response.data.message, 'error'))
      if(users.success){
        this.allUsers = users.data
      }
    },
    async submitEditDataContact(e){
      e.preventDefault()

      this.contact.type_content = 'contact'
      this.contact.is_same_process = 'true'
      const formLang = this.contact
      this.showLoadingPage(true)

      const res = await this.$axios.$put('/api/content/edit-lang', formLang).catch(err => this.$swal('Oops', err.response.data.message, 'error'))

      if(res.success){
        await this.$store.dispatch('getLangContent')
        this.assignFormContact()
        this.formContactIsDisabable = true
        this.$swal('Success', 'Update Contact Information', 'success')
        // this.showLoadingPage(false)
      }
    },
    assignFormContact(){
      this.contact.address = this.$store.state.indoLang.contact.address
      this.contact.email = this.$store.state.indoLang.contact.email
      this.contact.instagram = this.$store.state.indoLang.contact.instagram
      this.contact.telephone = this.$store.state.indoLang.contact.telephone
      this.contact.whatsapp = this.$store.state.indoLang.contact.whatsapp
      this.contact.web = this.$store.state.indoLang.contact.web
    }
  },
  mounted(){

    this.$store.dispatch('getLangContent')
    this.getAllUsers()
    this.$store.dispatch('showLoadingPage', true)
    setTimeout(() => {
      this.$store.dispatch('showLoadingPage', false)
      this.assignFormContact()
    }, 2000)
  }
}
</script>

<style>

</style>
