<template>
  <div>
    <h3 class="text-center">Management Content English</h3>

    <div class="row">

      <div class="col-lg-6 mb-4">

        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-success">
            <h6 class="m-0 font-weight-bold text-light">CONTENT TITLE HOME PAGE
              <!-- <span class="float-right">
                <button @click="toggleFormRegister" :class="formRegisterIsDisable ? `btn btn-sm btn-outline-info` : `btn btn-sm btn-info`">Register</button>
              </span> -->
            </h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <form @submit="updateTitleHomePage">
                  <div class="form-group">
                    <label for="titleCB">Field Title Header</label>
                    <input v-model="home.title" type="text" class="form-control" id="titleCB" aria-describedby="titleCBhelp" placeholder="Enter Title Home">
                    <small id="titleCBhelp" class="form-text text-muted">Title Pada Halaman Utama.</small>
                  </div>
                  <div class="form-group">
                    <label for="SubtitleCB">Field Subtitle 1 Header</label>
                    <input v-model="home.subtitle_1" type="text" class="form-control" id="SubtitleCB" aria-describedby="SubtitleCBHelp" placeholder="Enter Subtitle Home">
                    <small id="SubtitleCBHelp" class="form-text text-muted">Subtitle Pada Halaman Utama.</small>
                  </div>
                  <div class="form-group">
                    <label for="SubtitleCB2">Field Subtitle 2 Header</label>
                    <input v-model="home.subtitle_2" type="text" class="form-control" id="SubtitleCB2" aria-describedby="SubtitleCBHelp2" placeholder="Enter Subtitle Home">
                    <small id="SubtitleCBHelp2" class="form-text text-muted">Subtitle Pada Halaman Utama.</small>
                  </div>
                  <input type="submit" name="submit" class="btn bg-gradient-success btn-user btn-block text-light" value="SUBMIT UPDATE">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-info">
            <h6 class="m-0 font-weight-bold text-light">CONTENT TITLE TENTANG KAMI
              <!-- <span class="float-right">
                <button @click="toggleFormRegister" :class="formRegisterIsDisable ? `btn btn-sm btn-outline-info` : `btn btn-sm btn-info`">Register</button>
              </span> -->
            </h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">

                <form @submit="updateTitleAboutPage">
                  <div class="form-group">
                    <label for="titleCB">Field Title Header</label>
                    <input v-model="about.title" type="text" class="form-control" id="titleCB" aria-describedby="titleCBhelp" placeholder="Enter Title Home">
                    <small id="titleCBhelp" class="form-text text-muted">Title Pada Halaman Tentang Kami.</small>
                  </div>
                  <div class="form-group">
                    <label for="titleCB">Field Title Header</label>
                    <input v-model="about.subtitle" type="text" class="form-control" id="titleCB" aria-describedby="titleCBhelp" placeholder="Enter Subitle Home">
                    <small id="titleCBhelp" class="form-text text-muted">Subitle Pada Halaman Tentang Kami.</small>
                  </div>
                  <input type="submit" name="submit" class="btn bg-gradient-info btn-user btn-block text-light" value="SUBMIT UPDATE">
                </form>

              </div>
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-secondary">
            <h6 class="m-0 font-weight-bold text-light">CONTENT TITLE KONTAK KAMI
              <!-- <span class="float-right">
                <button @click="toggleFormRegister" :class="formRegisterIsDisable ? `btn btn-sm btn-outline-info` : `btn btn-sm btn-info`">Register</button>
              </span> -->
            </h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">

                <form @submit="updateTitleContactPage">
                  <div class="form-group">
                    <label for="titleCB">Field Title Header</label>
                    <input v-model="contact.title" type="text" class="form-control" id="titleCB" aria-describedby="titleCBhelp" placeholder="Enter Title Home">
                    <small id="titleCBhelp" class="form-text text-muted">Title Pada Halaman Kontak Kami.</small>
                  </div>
                  <div class="form-group">
                    <label for="titleCB">Field Title Header</label>
                    <input v-model="contact.subtitle" type="text" class="form-control" id="titleCB" aria-describedby="titleCBhelp" placeholder="Enter Subtitle Home">
                    <small id="titleCBhelp" class="form-text text-muted">Subtitle Pada Halaman Kontak Kami.</small>
                  </div>
                  <input type="submit" name="submit" class="btn bg-gradient-secondary btn-user btn-block text-light" value="SUBMIT UPDATE">
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">

        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-primary">
            <h6 class="m-0 font-weight-bold text-light">Keunggulan Kami
              <!-- <span class="float-right">
                <button @click="toggleFormRegister" :class="formRegisterIsDisable ? `btn btn-sm btn-outline-info` : `btn btn-sm btn-info`">Register</button>
              </span> -->
            </h6>
          </div>
          <div class="card-body border-bottom-primary">
            <div class="row">
              <div class="col-lg-12">
                <form @submit="updateAdvantages">
                  <div class="form-group">
                    <label for="textAreaKeunggulan">Field Keunggulan Kami</label>
                    <textarea v-model="homeAdvantages.our_advantages" class="form-control" id="textAreaKeunggulan" placeholder="isi point keunggulan kami" rows="3" style="resize: none;"></textarea>
                    <small id="waCBHelp" class="form-text text-muted">Pisahkan dengan koma ( , ) untuk setiap point.</small>
                  </div>
                  <input type="submit" name="submit" class="btn btn-primary btn-user btn-block" value="SUBMIT UPDATE">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-danger">
            <h6 class="m-0 font-weight-bold text-light">Kata Pengantar
              <!-- <span class="float-right">
                <button @click="toggleFormRegister" :class="formRegisterIsDisable ? `btn btn-sm btn-outline-info` : `btn btn-sm btn-info`">Register</button>
              </span> -->
            </h6>
          </div>
          <div class="card-body border-bottom-danger">
            <div class="row">
              <div class="col-lg-12">
                <form @submit="updateIntroduction">
                  <div class="form-group">
                    <label for="textAreaKeunggulan">Field Kata Pengantar</label>
                    <textarea v-model="aboutIntroduction.content" class="form-control" id="textAreaKeunggulan" placeholder="isi kata pengantar" rows="20" style="resize: none;"></textarea>
                    <small class="form-text text-muted">Pisahkan dengan titik ( . ) untuk enter atau line selanjutnya.</small>
                  </div>
                  <input type="submit" name="submit" class="btn bg-gradient-danger text-light btn-user btn-block" value="SUBMIT UPDATE">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-warning">
            <h6 class="m-0 font-weight-bold text-light">VISI MISI
              <!-- <span class="float-right">
                <button @click="toggleFormRegister" :class="formRegisterIsDisable ? `btn btn-sm btn-outline-info` : `btn btn-sm btn-info`">Register</button>
              </span> -->
            </h6>
          </div>
          <div class="card-body border-bottom-warning">
            <div class="row">
              <div class="col-lg-12">
                <form @submit="updateVisionMission">
                  <div class="form-group">
                    <label for="visiCB">Field Visi</label>
                    <textarea v-model="aboutVisionMission.vision_content" class="form-control" id="visiCB" placeholder="isi point visi" rows="3" style="resize: none;"></textarea>
                    <small class="form-text text-muted">Point Misi Pada Halaman Tentang Kami.</small>
                  </div>
                  <div class="form-group">
                    <label for="misiCB">Field Misi</label>
                    <textarea v-model="aboutVisionMission.mission_content" class="form-control" id="misiCB" placeholder="isi point misi" rows="9" style="resize: none;"></textarea>
                    <small class="form-text text-muted">Pisahkan dengan titik koma ( ; ) untuk setiap point.</small>
                  </div>
                  <input type="submit" name="submit" class="btn btn-warning btn-user btn-block" value="SUBMIT UPDATE">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gradient-dark">
            <h6 class="m-0 font-weight-bold text-light">CORE VALUES
              <!-- <span class="float-right">
                <button @click="toggleFormRegister" :class="formRegisterIsDisable ? `btn btn-sm btn-outline-info` : `btn btn-sm btn-info`">Register</button>
              </span> -->
            </h6>
          </div>
          <div class="card-body border-bottom-dark">
            <div class="row">
              <div class="col-lg-12">
                <form @submit="updateCoreValues">
                  <div class="form-group">
                    <label for="misiCB">Field Core Values</label>
                    <textarea v-model="aboutCoreValues.core_values_content" class="form-control" id="misiCB" placeholder="isi point core values" rows="9" style="resize: none;"></textarea>
                    <small class="form-text text-muted">Pisahkan dengan titik koma ( ; ) untuk setiap point.</small>
                  </div>
                  <input type="submit" name="submit" class="btn btn-dark btn-user btn-block" value="SUBMIT UPDATE">
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>
</template>

<script>
export default {
  layout : 'dashboard',
  data() {
    return {
      home : {
        title : '',
        subtitle_1 : "",
        subtitle_2 : ""
      },
      homeAdvantages : {
        "our_advantages" : ""
      },
      about : {
        title : "",
        subtitle : ""
      },
      aboutIntroduction : {
        content : ""
      },
      aboutVisionMission : {
        vision_content: "",
        mission_content : "",
      },
      aboutCoreValues : {
        core_values_content : ""
      },
      contact : {
        title : "",
        subtitle : ""
      },
      typeLang : {
        type_lang : 'en'
      }
    }
  },
  methods: {
    async formSubmit(formLang){
      this.$store.dispatch('showLoadingPage', true)

      const res = await this.$axios.$put('/api/content/edit-lang', formLang).catch(err => this.$swal('Oops', err.response.data.message, 'error'))

      if(res.success){
        await this.$store.dispatch('getLangContent')
        this.assignStoreToData()
        this.$swal('Success', 'Update Contact Information', 'success')
        this.$store.dispatch('showLoadingPage', false)
      }
    },
    updateTitleHomePage(e){
      e.preventDefault()
      const formLang = {...this.home, type_content : 'home', ...this.typeLang}
      this.formSubmit(formLang)
    },
    updateTitleAboutPage(e){
      e.preventDefault()
      const formLang = {...this.about, type_content : 'about', ...this.typeLang}
      this.formSubmit(formLang)
    },
    updateTitleContactPage(e){
      e.preventDefault()
      const formLang = {...this.contact, type_content : 'contact', ...this.typeLang}
      this.formSubmit(formLang)
    },
    updateAdvantages(e){
      e.preventDefault()
      const formLang = {...this.homeAdvantages, type_content : 'home', ...this.typeLang}
      this.formSubmit(formLang)
    },
    updateIntroduction(e){
      e.preventDefault()
      const formLang = {...this.aboutIntroduction, type_content : 'about', ...this.typeLang}
      this.formSubmit(formLang)
    },
    updateVisionMission(e){
      e.preventDefault()
      const formLang = {...this.aboutVisionMission, type_content : 'about', ...this.typeLang}
      this.formSubmit(formLang)
    },
    updateCoreValues(e){
      e.preventDefault()
      const formLang = {...this.aboutCoreValues, type_content : 'about', ...this.typeLang}
      this.formSubmit(formLang)
    },

    assignStoreToData(){
      this.home.title = this.$store.state.englishLang.home.title
      this.home.subtitle_1 = this.$store.state.englishLang.home.subtitle_1
      this.home.subtitle_2 = this.$store.state.englishLang.home.subtitle_2
      this.homeAdvantages.our_advantages = this.$store.state.englishLang.home.our_advantages
      this.about.title = this.$store.state.englishLang.about.title
      this.about.subtitle = this.$store.state.englishLang.about.subtitle
      this.aboutIntroduction.content = this.$store.state.englishLang.about.content
      this.aboutVisionMission.vision_content = this.$store.state.englishLang.about.vision_content
      this.aboutVisionMission.mission_content = this.$store.state.englishLang.about.mission_content
      this.aboutCoreValues.core_values_content = this.$store.state.englishLang.about.core_values_content
      this.contact.title = this.$store.state.englishLang.contact.title
      this.contact.subtitle = this.$store.state.englishLang.contact.subtitle
    }
  },
  asyncData({ store }) {
    store.dispatch('showLoadingPage', true)
    store.dispatch('getLangContent')
  },
  mounted(){

    setTimeout(() => {
      this.assignStoreToData()
      setTimeout(() => this.$store.dispatch('showLoadingPage', false) , 500)
    }, 3500);
  }
}
</script>

<style>

</style>
