<template>
  <div class="container">
    <h3 class="text-center"> Management Content Image</h3>

    <div class="row">
      <div class="col-lg-12 mb-6">
        <div class="card shadow mb-6">
          <div class="card-header py-3 bg-gradient-success">
            <h6 class="m-0 font-weight-bold text-light">CONTENT IMAGE SERTIFIKASI
            </h6>
          </div>
          <div class="card-body">
            <div class="row align-items-center">
              <template v-for="(sertifImage, idx) in imagesSertifikasi">
                <div :key="idx" class="image--list"  >
                  <img :src="`${sertifImage.url_image}`" :class="sertifImage.is_show == 1 ? `img-fluid img-thumbnail` : `  img-fluid img-thumbnail`" height="130" width="130" :alt="sertifImage.content_type_id" />
                  <div class="checkbox-image">
                    <template v-if="sertifImage.is_show == 1">
                      <i :id="sertifImage.image_id" class="active fa fa-check-square" @click="imageUpdate" style="color:green"></i>
                    </template>
                    <template v-else>
                      <i :id="sertifImage.image_id" class="fa fa-square" @click="imageUpdate" style="color:red"></i>
                    </template>
                    <i class="fa fa-trash" :id="sertifImage.image_id" @click="deleteImage"></i>
                  </div>
                </div>
              </template>
            </div>
            <hr>
            <form @submit="uploadSertif">
              <div class="form-group">
                <input
                  id="sertifImageUpload"
                  ref="sertifImageUpload"
                  @change="handleImage"
                  type="file"
                  class="form-control"
                  placeholder="KTP"
                />
              </div>
              <input type="submit" name="submit" class="btn bg-gradient-success btn-user btn-block text-light" value="Upload Photo">
          </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 mb-6">
        <div class="card shadow mb-6">
          <div class="card-header py-3 bg-gradient-dark">
            <h6 class="m-0 font-weight-bold text-light">CONTENT IMAGE PARTNER & CLIENT
            </h6>
          </div>
          <div class="card-body">
            <div class="row align-items-center">
              <template v-for="(imageClient, idx) in imagesClient">
                <div :key="idx" class="image--list"  >
                  <img :src="`${imageClient.url_image}`" :class="imageClient.is_show == 1 ? `img-fluid img-thumbnail` : `  img-fluid img-thumbnail`" height="130" width="130" :alt="imageClient.content_type_id" />
                  <div class="checkbox-image">
                    <template v-if="imageClient.is_show == 1">
                      <i :id="imageClient.image_id" class="active fa fa-check-square" @click="imageUpdate" style="color:green"></i>
                    </template>
                    <template v-else>
                      <i :id="imageClient.image_id" class="fa fa-square" @click="imageUpdate" style="color:red"></i>
                    </template>
                    <i class="fa fa-trash" :id="imageClient.image_id" @click="deleteImage"></i>
                  </div>
                </div>
              </template>
            </div>
            <hr>
            <form @submit="uploadPartner">
              <div class="form-group">
                <input
                  id="partnerImageUpload"
                  ref="partnerImageUpload"
                  @change="handleImage"
                  type="file"
                  class="form-control"
                  placeholder="KTP"
                />
              </div>
              <input type="submit" name="submit" class="btn bg-gradient-dark btn-user btn-block text-light" value="Upload Photo">
          </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 mb-6">
        <div class="card shadow mb-6">
          <div class="card-header py-3 bg-gradient-secondary">
            <h6 class="m-0 font-weight-bold text-light">CONTENT IMAGE PEKERJAAN
            </h6>
          </div>
          <div class="card-body">
            <div class="row align-items-center">
              <template v-for="(imageWork, idx) in imagesWorks">
                <div :key="idx" class="image--list"  >
                  <img :src="`${imageWork.url_image}`" :class="imageWork.is_show == 1 ? `img-fluid img-thumbnail` : `  img-fluid img-thumbnail`" height="130" width="130" :alt="imageWork.content_type_id" />
                  <div class="checkbox-image">
                    <template v-if="imageWork.is_show == 1">
                      <i :id="imageWork.image_id" class="active fa fa-check-square" @click="imageUpdate" style="color:green"></i>
                    </template>
                    <template v-else>
                      <i :id="imageWork.image_id" class="fa fa-square" @click="imageUpdate" style="color:red"></i>
                    </template>
                    <i class="fa fa-trash" :id="imageWork.image_id" @click="deleteImage"></i>
                  </div>
                </div>
              </template>
            </div>
            <small class="form-text text-muted">*Nama File Photo akan menjadi nama photo yang ada di Home Page.</small>
            <hr>
            <form @submit="uploadWorks">
              <div class="form-group">
                <input
                  id="worksImageUpload"
                  ref="worksImageUpload"
                  @change="handleImage"
                  type="file"
                  class="form-control"
                  placeholder="KTP"
                />
              </div>
              <input type="submit" name="submit" class="btn bg-gradient-secondary btn-user btn-block text-light" value="Upload Photo">
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout : 'dashboard',
  middleware : 'auth',
  data(){
    return{
      imagesSertifikasi : [],
      imagesClient : [],
      imagesWorks : [],
      formImage : {
        sertifImageUpload : '',
        partnerImageUpload : '',
        worksImageUpload : ''
      }
    }
  },
  methods : {
    async uploadWorks(e){
      e.preventDefault()
      if(this.formImage.worksImageUpload == ''){
        return this.$swal('Perhatian', 'Form Image Wajib Diisi', 'warning')
      }

      const formImage = new FormData()
      formImage.append('works', this.formImage.worksImageUpload)
      this.$store.dispatch('showLoadingPage', true)
      const image = await this.$axios.$post('/api/images/add-works', formImage).catch(err => this.$swal('Oops', err.response.data.message, 'error'))
      if (image.success){
        this.handleRessSuccess(image.message)
      }
    },
    async uploadPartner(e){
      e.preventDefault()
      if(this.formImage.partnerImageUpload == ''){
        return this.$swal('Perhatian', 'Form Image Wajib Diisi', 'warning')
      }

      const formImage = new FormData()
      formImage.append('partner', this.formImage.partnerImageUpload)
      this.$store.dispatch('showLoadingPage', true)
      const image = await this.$axios.$post('/api/images/add-partner', formImage).catch(err => this.$swal('Oops', err.response.data.message, 'error'))
      if (image.success){
        this.handleRessSuccess(image.message)
      }
    },
    async uploadSertif(e){
      e.preventDefault()
      if(this.formImage.sertifImageUpload == ''){
        return this.$swal('Perhatian', 'Form Image Wajib Diisi', 'warning')
      }

      const formImage = new FormData()
      formImage.append('sertifikasi', this.formImage.sertifImageUpload)
      this.$store.dispatch('showLoadingPage', true)
      const image = await this.$axios.$post('/api/images/add-sertifikasi', formImage).catch(err => this.$swal('Oops', err.response.data.message, 'error'))
      if (image.success){
        this.handleRessSuccess(image.message)
      }
    },
    handleImage(e){
      let refs = this.$refs
      switch (e.target.id) {
        case `${e.target.id}`:
          const [fileImage] = refs[e.target.id].files
          this.formImage[e.target.id] = fileImage
          break;

        default:
          break;
      }

    },

    async imageUpdate(e){
      const isActive = $('#' + e.target.id).hasClass('active')
      const imageId = e.target.id
      let form;
      if(isActive){
        form = {
          image_id : imageId,
          is_show : 0
        }
      }else {
        form = {
          image_id : imageId,
          is_show : 1
        }
      }

      const {isConfirmed} = await this.makeSureToDelete("Apakah anda yakin ingin mengupdate photo ini?")
      if(!isConfirmed) return
      this.$store.dispatch('showLoadingPage', true)

      const image = await this.$axios.$put('/api/images/update-image', form).catch(err => {
        this.$swal('Oops', err.response.data.message, 'error')
        this.$store.dispatch('showLoadingPage', false)
      })

      if(image.success){
        this.handleRessSuccess(image.message)
      }
    },

    async deleteImage(e){
      const {isConfirmed} = await this.makeSureToDelete("Apakah anda yakin ingin menghapus photo ini?")

      if(!isConfirmed) return
      this.$store.dispatch('showLoadingPage', true)
      const image = await this.$axios.$delete('/api/images/delete-image/' + e.target.id , {}).catch(err => {
        this.$swal('Oops', err.response.data.message, 'error')
        this.$store.dispatch('showLoadingPage', false)
      })
      if(image.success){
        this.handleRessSuccess(image.message)
      }
    },

    async handleRessSuccess(msg){
      this.formImage.sertifImageUpload = ''
      $('#sertifImageUpload').val(null)
      this.formImage.partnerImageUpload = ''
      $('#partnerImageUpload').val(null)
      this.formImage.worksImageUpload = ''
      $('#worksImageUpload').val(null)
      await this.$store.dispatch('GET_IMAGES_DASHBOARD')
      this.assignImageToLocalState()
      this.$swal('Sukses', msg, 'success')
    },

    assignImageToLocalState(){
      this.imagesSertifikasi = this.$store.state.imagesDashboards.filter(item => item.content_type_id === 1)
      this.imagesClient = this.$store.state.imagesDashboards.filter(item => item.content_type_id === 2)
      this.imagesWorks = this.$store.state.imagesDashboards.filter(item => item.content_type_id === 3)
    },

    async makeSureToDelete(msg){
      const valid = await this.$swal({
          title: '',
          text: msg,
          icon: "question",
          showCloseButton: true,
          showCancelButton: true,
      })
      return valid
    }
  },
  mounted(){
    this.assignImageToLocalState()
  },
  async fetch({store}) {
    await store.dispatch('GET_IMAGES_DASHBOARD')
  },
}
</script>

<style scope lang="css">
  .image--list {
    margin: 1vmax;
    display: flexbox;
    text-align: center;
  }
  .checkbox-image {
    font-size:25px;
    margin-left:3px;
    cursor: pointer;
  }
</style>
