<template>
  <div class="bg-gradient-dark bg-container">
   <div class="container">
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login Cang Bani Dashboard</h1>
                  </div>
                  <div v-if="error !== null">
                    <div>
                      <v-alert
                        dismissible
                        elevation="2"
                        text
                        color="#f44"
                        icon="mdi-alert-circle-outline"
                      >
                        {{ error }}
                      </v-alert>
                    </div>
                  </div>
                  <form class="user" @submit="onSubmitLogin">
                    <div class="form-group">
                      <input autocomplete="username" v-model="form.email" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <div class="input-group">
                      <input autocomplete="current-password" v-model="form.password"  :type="isVisible ? 'text' : 'password'" name="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" @click="togglePass">
                          <template v-if="isVisible">
                            <i class="fa fa-eye"></i>
                          </template>
                          <template v-else>
                            <i class="fa fa-eye-slash"></i>
                          </template>
                        </span>
                      </div>
                    </div>
                    <hr>
                    <input type="submit" name="submit" class="btn btn-primary btn-user btn-block" value="Login">
                    <hr>
                    <nuxt-link to="/" class="nav-link text-center">
                      Go To Home Page
                      <i class="fa fa-home"></i>
                    </nuxt-link>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  </div>
</template>

<script>
export default {
  layout : 'login',
  data() {
    return {
      error : null,
      isVisible : false,
      form : {
        email : '',
        password: ''
      }
    }
  },
  methods :{
    async onSubmitLogin(e){
      e.preventDefault()
      this.error = null
      try {
        this.$store.dispatch('showLoadingPage', true)
        await this.$auth.loginWith('local', {
          data : this.form
        })
      } catch (error) {
        this.error = error.response.data.message
        this.$store.dispatch('showLoadingPage', false)
      }
    },
    togglePass(){
      this.isVisible = !this.isVisible
    }
  }
}
</script>

<style lang="css" scoped>
  .bg-login-image {
    background: url('/assets/image/Logo CB Website Footer.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg-container{
    min-height: 50vmax;
  }
  @media only screen and (max-width: 600px) {
    .bg-container{
      min-height: 100vmax;
    }
  }

</style>
