<template>
  <div class="wrapper-about">
    <div class="wrap-content-about text-center">
      <div class="container-about-title-text">
        <h1 class="about-title-text font-weight-bold">{{$t('about.title')}}</h1>
        <h4 class="about-subtitle-text">
          {{$t('about.subtitle')}}
        </h4>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="css">
  .wrapper-about {
    min-height: 60vmax;
    position: relative;
  }

  .container-about-title-text {
    text-align: center;
    color: antiquewhite;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .about-subtitle-text {
    margin-top: 1vmax;
    font-size: 1.4vmax;
    text-transform: capitalize;
    font-family: 'NeoSansBlackItalic';
  }

  .about-title-text{
    font-family: 'NeoSansBold';
    font-size: 3.4vmax;
    text-transform: uppercase;
    /* position: absolute; */
  }

  .wrap-content-about {
    background: url("/assets/image/Background Tentang Kami.png");
    height: 60vmax;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

@media only screen and (max-width: 600px) {
  .about-title-text, .about-subtitle-text {
    width: 100%;
  }
  .about-title-text {
    font-size: 7vw !important;
  }

  .about-subtitle-text {
    font-size: 4vw !important;
    padding: 0 2vmax;
  }

  .wrap-content-about {
    height: 80vmax;
  }
  .wrapper-about {
    height: 80vmax;
  }
}

@media only screen and (max-width: 1000px) {
  .about-title-text, .about-subtitle-text {
    text-align: center;
  }
  .about-title-text {
    font-size: 4vw;
  }
  .about-subtitle-text {
    font-size: 2.2vw;
  }
}
</style>
