<template>
  <div class="wrapper-about-content">

    <section class="container-about-vision" id="vision-mission">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="title-vision">{{$t('about.vision_head')}}</h2>
          <ul class="vision-content">
            <li class="list-vision-content">{{$t('about.vision_content')}}</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h2 class="title-mission">{{$t('about.mission_head')}}</h2>
          <ul class="mission-content">
            <template v-for="(item, idx) in missionContent.length">
              <li :key="idx" class="list-mission-content">
                {{missionContent[idx]}}.
              </li>
            </template>
          </ul>
        </div>
      </div>
    </section>

    <section class="container-about-core" id="coreValues">
      <div class="about-core">
        <h2 class="title-core-values">{{$t('about.core_values_head')}}:</h2>
        <div class="container-core row">
          <div class="row col-lg-12">
            <ul>
              <template v-for="(item, idx) in coreValuesMapping.length">
                <li :key="idx" class="row list-core-content">
                  <span class="text-word-core-values" v-html="renderFirstWord(coreValuesMapping[idx])"></span>
                  <div class="content-core"><span v-html="renderCore(coreValuesMapping[idx])"></span></div>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="container-image-mobile-about text-center">
      <div><img class="image-mobile-about-1" src="/assets/people/Aset.png" alt="aboutCangBaniWork"></div>
      <div><img class="image-mobile-about-2" src="/assets/image/about2.png" alt="aboutCangBaniWorks"></div>
    </div>
  </div>
</template>

<script>
export default {
  methods : {
    renderCore(word){
      let firstWord,lastWord

      if(word.split(' ')[0] === ''){
        [,firstWord, ...lastWord] = word.split(' ')
      }else {
        [firstWord, ...lastWord] = word.split(' ')
      }

      return `<b>${firstWord}</b> ${lastWord.join(' ')}`
    },
    renderFirstWord(word){
      return word[0] === ' ' ? `<b>${word[1]}</b>` : `<b>${word[0]}</b>`
    }
  },
  computed : {
    missionContent (){
      let arrContentMission = this.$t('about.mission_content').split(';')
      let [isLast] = arrContentMission.slice(-1)
      if(isLast === ''){
        arrContentMission.pop()
      }
      return arrContentMission
    },
    coreValuesMapping(){
      let coreVal = this.$t('about.core_values_content').split(';')
      let [isLast] = coreVal.slice(-1)
      if(isLast === ''){
        coreVal.pop()
      }
      return coreVal
    }
  }
}
</script>

<style lang="css">
  .wrapper-about-content {
    min-height: 90vmax;
  }
  .container-about-vision{

    min-height: 40vmax;
    background-color: #f7f7f7;
    padding: 6vmax 5vmax;
  }

  .title-vision, .title-mission {
    margin-left: 3vmax;
    font-weight: 600;
    font-size: 2.7vmax;
    font-family: 'NeoSansBold';
  }
  .list-mission-content, .vision-content{
    margin: 2vmax 0;
    font-size: 1.3vw;
    width: 100%;
    font-family: 'NeoSansBlackItalic';
  }

  .list-vision-content::before {
    content: "\2022";
    font-size: 4vw !important;
    color: orange;
    font-weight: bold;
    display: inline-block;
    margin-left: -.7em;
    margin-right: .1em;
    line-height: 2rem;

  }

  .list-mission-content::before {
    content: "\2022";
    font-size: 4vw;
    color: orange;
    font-weight: bold;
    display: inline-block;
    margin-left: -.7em;
    margin-right: -.15em;
    line-height: 2rem;
  }

  .mission-content , .vision-content {
    letter-spacing: 1.4px;
    line-height: 1.9;
    list-style: none;
    text-transform: capitalize;
  }
  .content-core {
    margin-left: 10vmax;
    position: absolute;
  }
  .text-word-core-values {
    font-family: 'NeoSansBold';
  }

  .container-core {
    padding-left: 4vmax;
    padding-top: 3vmax;
  }
  .list-core-content {
    list-style-type: none;
    font-size: 1.7vw;
    letter-spacing: 1.3px;
    text-transform: capitalize;
    margin-bottom: 5vmax;
  }

  .title-core-values {
    font-size: 2.7vw;
    font-weight: 700;
    font-family: 'NeoSansBold';
  }
  .container-about-core {
    padding-top: 6vmax;
    min-height: 45vmax;
    margin: 4vmax 6vmax;
  }

  .container-image-mobile-about {
    display: none;
  }
  @media only screen and (max-width: 600px) {

    .container-image-mobile-about {
      display: block;
    }

    .image-mobile-about-1, .image-mobile-about-2 {
      width: 20vmax;
      height: 30vmax;
    }

    .image-mobile-about-1 {
      margin-left: -10vmax;
    }

    .image-mobile-about-2 {
      margin-right: -10vmax !important;
      margin: 4vmax 0;
    }

    .list-mission-content , .vision-content {
      font-size: 2.9vw !important;
    }
    .title-core-values {
      font-size: 4.7vw;
    }
    .list-core-content {
      font-size: 3vw;
      margin-bottom: 8vmax;
    }
  }

  @media only screen and (max-width: 1024px) {
    .list-mission-content , .vision-content {
      font-size: 2vw;
    }

    .title-core-values, .title-mission, .title-vision {
      font-size: 4.5vw;
    }
  }
</style>
