<template>
  <section class="wrapper-about-intro" id="introductionSection">
    <div class="container-about-intro">
      <img class="image-about-1" src="/assets/people/Aset.png" alt="aboutCangBaniWork">
      <img class="image-about-2" src="/assets/image/about2.png" alt="aboutCangBaniWorks">
      <h4 class="title-intro">PT. CANG BANI INDUSTRIES (CB)</h4>
      <p class="container-about-text">
        {{textContent}}
      </p>
    </div>
  </section>
</template>

<script>
export default {
  computed : {
    textContent(){
      return this.$t('about.content').replace(/\./g, '.\n\n')
    }
  }
}
</script>

<style lang="css">
  .wrapper-about-intro {
    min-height: 70vmax;
    display: flex;
    flex-direction: column;
    padding: 4vmax 0;
  }
  .title-intro {
    font-family: 'NeoSansBold';
    margin-left: 1vmax;
    margin-bottom: 0;
  }
  .container-about-intro{
    /* overflow:auto; */
    font-family: 'NeoSansBlackItalic';
    margin-right: -17px;
    padding: 0 5vmax;
    min-height: 65vmax;
    margin: 0 -1vmax;
  }

  .container-about-text {
    /* min-height: 55vmax; */
    /* overflow: hidden; */
    margin: 1vmax;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    line-height: 1.9;
    white-space: pre-line;
    /* display: -webkit-box;
    -webkit-box-orient: vertical; */
    width: 40vmax;
  }

  .image-about-1{
    width: 23vmax;
    height: 27vmax;
    right: 10vmax;
    position: absolute;
  }

  .image-about-2{
    width: 20vmax;
    height: 26vmax;
    right: 21vmax;
    margin-top: 28vmax;
    position: absolute;
  }
  @media only screen and (max-width: 600px) {
    .image-about-1, .image-about-2 {
      display: none;
    }

    .container-about-text {
      font-size: 3.2vw;
    }
  }

  @media only screen and (max-width: 1024px) {
    .image-about-2 {
      right: 7vmax;
      margin-top: 32vmax;
    }
    .image-about-1{
      right: 3vmax;
      margin-top: 2vmax;
    }
  }
</style>
