<template>
  <section class="container image-container-cb-team">
      <img src="/assets/people/Aset2.png" alt="cangBaniTeam" width="100%">
  </section>
</template>

<script>
export default {

}
</script>

<style>
  .image-container-cb-team {
    padding-bottom: 0 !important;
  }

  @media only screen and (max-width: 600px) {}
</style>
