<template>
  <section class="wrapper-contact">
    <div class="wrap-content-contact">
      <div class="container-contact-title-text">
        <h1 class="contact-title-text font-weight-bold">{{$t('contact.title')}}</h1>
        <h4 class="contact-subtitle-text">
          {{$t('contact.subtitle')}}
        </h4>
      </div>
    </div>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="css">
  .wrapper-contact {
    min-height: 60vmax;
    width: 100%;
  }

  .container-contact-title-text {
    align-content: center;
    text-align: center;
    margin: auto;
    display: table;
    color: antiquewhite;
  }

  .contact-subtitle-text {
    margin-top: 3vmax;
    font-size: 1.4vmax;
    text-transform: capitalize;
    font-family: 'NeoSansBlackItalic';
  }

  .contact-title-text{
    font-family: 'NeoSansBold';
    font-size: 3.4vmax;
    text-transform: uppercase;
    margin-top: 50%;
  }

  .wrap-content-contact {
    background: url("/assets/image/Bakcround Contact Us.png");
    min-height: 60vmax;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  @media only screen and (max-width: 600px) {
    .contact-title-text {
      font-size: 7vw;
      margin-top: 60%;
    }
    .contact-subtitle-text {
      margin: 0 2vmax;
      margin-top: 4vmax;
      font-size: 4vw;
      text-align: center;
    }

    .wrapper-contact,.wrap-content-contact  {
      height: 80vmax;
    }
  }
</style>
