<template>
  <div>
  <section class="wrapper-contact-address container">
    <div class="cotainer-address row">
      <img class="col-lg-6 col-md-6 image-contact-addr" src="/assets/image/Foto COntact Us OFFICE.png" alt="contactAddressCB">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h3>Head Office & Factory of CB</h3>
        <h4>PT. Cang Bani Industries</h4>
        <div class="container-contact">
          <h6>{{$t('contact.address')}}</h6>
          <h6 class="container-contact"><v-icon>mdi-email</v-icon> : {{$t('contact.email')}}</h6>
          <h6><v-icon>mdi-phone</v-icon> : {{$t('contact.telephone')}}</h6>
          <h6><a style="text-decoration:none;color:#212529" no-prefetch target="_blank" :href="'https://wa.me/' + waNumber + '?text=Hallo%20Cang%20Bani'"><v-icon>mdi-whatsapp</v-icon> : {{$t('contact.whatsapp')}}</a></h6>
          <h6><v-icon>mdi-web</v-icon> : {{$t('contact.web')}}</h6>
        </div>

        <div class="mapouter" id="map">
          <div class="gmap_canvas">
            <iframe width="450" height="330" id="gmap_canvas" :src="`https://maps.google.com/maps?q=jalan%20Raya%20Paburuan%20No.%2024%2C%20Rawa%20Panjang%2C%20Bojonggede%2C%20Kab.%20Bogor%2016320&t=&z=17&ie=UTF8&iwloc=&output=embed`" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
          <style>.mapouter{position:relative;text-align:right;height:330px;width:450px;}.gmap_canvas {overflow:hidden;background:none!important;height:330px;width:480px;}</style>
        </div>
      </div>
    </div>
  </section>
    <div class="mapouter" id="map-ipad">
      <div class="gmap_canvas">
        <iframe width="600" height="350" :src="`https://maps.google.com/maps?q=jalan%20Raya%20Paburuan%20No.%2024%2C%20Rawa%20Panjang%2C%20Bojonggede%2C%20Kab.%20Bogor%2016320&t=&z=17&ie=UTF8&iwloc=&output=embed`" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
    <div class="text-center container-image-mobile-contact">
      <img class="image-mobile-contact" src="/assets/image/Foto COntact Us OFFICE.png" alt="contactAddressCB">
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return {

    }
  },
  computed : {
    waNumber () {
      return this.$t('contact.whatsapp').replace(/\s/g, '');
    }
  }

}
</script>

<style lang="css">
  .wrapper-contact-address {
    min-height: 60vmax;
  }

  .cotainer-address{
    margin: 2vmax;
  }
  .container-contact {
    margin-top: 2vmax;
    width: 100%;
    font-family: 'NeoSansBlackItalic';
  }

  h3, h4 {
    font-family: 'NeoSansBold';
    display: inline-block;
    text-align: justify;
  }

  .container-address-content {
    width: 40vmax;
    position: absolute;
    right: 8vmax;
  }

  .image-contact-addr{
    height: 50vmax;
    width: 30vmax;
  }

  .container-image-mobile-contact {
    display: none;
  }

  #map-ipad {
    display: none;
  }

  #map, #gmap_canvas {
    display: block;
    padding-right: 2vmax;
  }

  @media only screen and (max-width: 600px) {

    .container-image-mobile-contact {
      display: block;
      margin-top: 4vmax;
      margin-bottom: 4vmax;
    }
    .image-mobile-contact {
      width: 27vmax;
      height: 35vmax;
    }

    .wrapper-contact-address {
      margin-bottom: 5vmax;
    }

    .image-contact-addr{
      display: none;
    }

    .container-address-content  {
      width: 100% !important;
      margin: auto;
      position: relative;
      display: block;
    }

    #map-ipad {
      /* display: none !important; */
    }

    .gmap_canvas {
      width: 90% !important;
    }
  }

  @media only screen and (max-height: 732px){
    #gmap_canvas {
      width: 35vmax;
      height: 25vmax;
    }
  }

  @media only screen and (max-width: 1024px){
    .image-contact-addr{
      margin: auto;
      margin-left: -3vmax;
    }

    .container-address-content{
      margin-right: -5%;
      width: 40%;
    }

    .gmap_canvas {
      margin: 0 auto;
      width: 50%;
    }

    #map-ipad {
      display: block;
      justify-self: center;
      width: 100%;
    }

    #map{
      display: none;
    }
  }

</style>
