<template>
  <section>
  <div class="wrapper-title">
    <div>
      <img class="image-1" src="/assets/people/Aset4.png" alt="orang1"/>
      <img class="image-2" src="/assets/people/FOTO LUKI KOMISARIS.png" alt="Komisaris Cang Bani"/>
    </div>
    <div class="wrap-content-title">
      <div class="container-title-text">
        <h1 class="title-content-home font-weight-bold">
          {{$t('home.title')}}
        </h1>
        <br/>
        <h5 class="subtitle-content">
          {{$t('home.subtitle_1')}}
          <br/>
          <br/>
          {{$t('home.subtitle_2')}}
        </h5>
      </div>
    </div>
  </div>
    <div class="text-center container-image-mobile">
      <div><img class="image-mobile-1" src="/assets/people/Aset4.png" alt="orang1"/></div>
      <div><img class="image-mobile-2" src="/assets/people/FOTO LUKI KOMISARIS.png" alt="Komisaris Cang Bani"/></div>
    </div>
  </section>
</template>

<script>
export default {
}
</script>

<style lang="css">
  .wrapper-title {
    min-height: 60vmax;
  }

  .wrap-content-title {
    background: url("/assets/image/Background.png");
    min-height: 60vmax;
    width: 94vmax;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .icon-safety {
    z-index: 3;
    margin-top: 3vmax;
    margin-left: 23vmax;
    position: absolute;
    height: 3vmax;
    width: 3vmax;
  }

  .image-1 {
    margin-left: 4vmax;
    margin-top: 3vmax;
    position: absolute;
    height: 33vmax;
    width: 22vmax;
  }

  .image-2 {
    margin-left: 15vmax;
    margin-top: 32vmax;
    z-index: 1;
    position: absolute;
    height: 28vmax;
    width: 22vmax;
  }

  .title-content-home {
    text-transform: uppercase;
    text-align: right;
    font-size: 3.2vmax;
    font-family: "NeoSansBold";
  }

  .subtitle-content {
    margin : 20px 0;
    font-family: "NeoSansBlackItalic";
  }

  .container-title-text {
    right: 7vmax;
    color: antiquewhite;
    text-align: right;
    margin-top: 13vmax;
    width: 23vmax;
    position: absolute;
  }

  .container-image-mobile {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    .wrapper-title {
      min-height: 90vmax;
    }
    .wrap-content-title {
      min-height: 90vmax;
      width: 57vmax;
      float: right;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .icon-safety {
      margin-top: 5vmax;
      margin-left: 20vmax;
      z-index: 1;
      position: absolute;
      height: 3vmax;
      width: 3vmax;
    }

    .container-image-mobile{
      display: block;
      /* margin-bottom: 30vmax; */
      padding: 0 4vmax;
      padding-bottom: 10vmax;
    }

    .image-mobile-1 {
      margin-top: 5vmax;
      min-height: 33vmax;
      width: 20vmax;
      margin-left: -12vmax;
    }

    .image-mobile-2 {
      margin-right: -7vmax;
      height: 33vmax;
      width: 24vmax;
    }
    .image-1, .image-2{
      display: none;
    }

    .title-content {
      width: 15rem;
      font-size: 2rem;
    }

    .container-title-text {
      right: 4vmax;
      text-align: right;
      margin-top: 15vh;
      width: 30vmax !important;
      /* position: absolute; */
      /* background: rgba(0, 0, 0, 0.5); */
      z-index: 2;
      border-radius: 8px;
      padding: 5px;
    }
  }

  @media only screen and (max-width: 1000px) {

    .container-title-text {
      margin-top: 10vh;
      width: 50% !important;
    }

    .wrapper-title {
      min-height: 70vmax;
    }
    .wrapper-content-title {
      min-height: 65vmax;
    }

    .image-2 {
      margin-left: 8vmax;
      margin-bottom: -1vmax;
    }
  }
</style>
