<template>
  <div class="wrapper-intro">
    <div class="container-intro">
      <div class="text-intro-con">
        <span class="title-intro">PT. CANG BANI INDUSTRIES (CB)</span>
        <br/>
        {{textContent}}
      </div>
      <nuxt-link class="btn btn-outline-primary btn-more" :to="$store.state.lang == 'id' ? $i18n.path('tentang-kami#introductionSection') : $i18n.path('about-us#introductionSection')">
        {{btnMoreText}}
      </nuxt-link>
      <img class="img-intro-1" src="/assets/image/Background Foto 1.png"/>
    </div>
  </div>
</template>

<script>
export default {
  computed : {
    textContent(){
      return this.$t('about.content').replace(/\./g, '.\n\n')
    },
    btnMoreText(){
      return this.$store.state.lang == 'id' ? 'Info Lengkap' : 'More Info'
    }
  },
  methods : {

  }
}
</script>

<style lang="css">
  .wrapper-intro {
    min-height: 42vmax;
    align-content: center;
    position: relative;
  }

  .container-intro {
    margin-top: -2vmax;
    padding: 4vmax;
    background-color: #f7f7f7;
    width: 80vmax;
    min-height: 35vmax;
    margin-left: auto;
    margin-right: auto;
  }

  .title-intro{
    font-size: 1.3rem;
  }

  .btn-more {
    margin-top: 3vmax;
    border: 2px solid #007bff;
    font-weight: 800;
  }

  .img-intro-1{
    position: absolute;
    height: 31vmax;
    width: 22vmax;
    top: 2vmax;
    right: 14vmax;
  }

  .text-intro-con {
    width: 35vmax;
    display: block;
    white-space: pre-line;
    overflow: hidden;
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12; /* number of lines to show */
    font-family: "NeoSansBlackItalic";
  }

  @media only screen and (max-width: 600px) {
    .wrapper-intro {
      height: 80vmax;
    }

    .container-intro {
      margin-top: -5vmax;
      padding: 2vmax;
      display: flex;
      width: 52vmax;
      min-height: 73vmax;
      display: -webkit-box;
      -webkit-line-clamp: 19; /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    .img-intro-1{
      right: 5% !important;
      top: 16% !important;
      height: 40vmax;
      z-index: 0;
    }

    .text-intro-con {
      margin-top: 4vh;
      width: 26vh;
      -webkit-line-clamp: 16; /* number of lines to show */
      background: rgba(255, 255, 255, 0.7);
      padding: 0 1vmax;
      z-index: 2;
      border-radius: 8px;
      position: relative;
    }

    .btn-more {
      margin-top: 5vmax;
    }
  }

  @media only screen and (max-width: 1050px) {
    .img-intro-1{
      right: 15%;
      top : 10%;
    }
  }
</style>
