<template>
<div>
  <section class="wrapper-product-service" id="productService">
    <div class="container-product">
      <img class="image-product" alt="PTcangbani" src="/assets/image/Background Foto 2.png"/>

      <div class="container-content-product">
        <h2 class="title-product">{{$t('home.productAndService')}}</h2>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="row col">
              <img class="image-icon" alt="iconCB" src="/assets/image/Steel Structure.png"/>
            </div>
            <h5 class="row col mobile-margin-top" style="margin-top:1vmax;">{{$t('home.product_1')}}</h5>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-5">
            <div class="row col">
              <img class="image-icon" alt="iconCB" src="/assets/image/General COntractor.png"/>
            </div>
            <h5 class="row col mobile-margin-top" style="margin-top:1vmax;">{{$t('home.product_2')}}</h5>
          </div>
        </div>
        <div class="row mobile-margin-top lg-margin-top">
          <h4 class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom:0;">
            {{$t('home.product_head_1')}}
          </h4>
          <h5 class="col-lg-12 col-md-12 col-sm-12">
            {{$t('home.product_content_1')}}
          </h5>
        </div>
        <div class="row product-content">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <img class="image-icon-1" alt="iconCB" src="/assets/image/Interior Exterior Fitout.png"/>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 mobile-margin-top">
            <h4>{{$t('home.product_head_2')}}</h4>
            <h5>{{$t('home.product_content_2')}}</h5>
          </div>
        </div>
        <div class="row product-content">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <img class="image-icon-1" alt="iconCB" src="/assets/image/Container Fitout.png"/>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <h5>{{$t('home.product_head_3')}}</h5>
          </div>
        </div>
      </div>


    </div>
  </section>

  <img class="image-product-mobile" alt="PTcangbani" src="/assets/image/Background Foto 2.png"/>
</div>
</template>

<script>
export default {

}
</script>

<style lang="css" scoped>
  .wrapper-product-service {
    min-height: 65vmax;
    padding-top: 1rem;
  }

  .container-product {
    min-height: 60vmax;
    display: block;
    width: 100%;
    padding-top: 4vmax;
    background: #f7f7f7;
  }

  .title-product {
    font-family: 'NeoSansBold';
    width: 14vmax;
    font-size: 3vmax ;
    margin-top: -3vmax !important;
    margin-bottom: 4vmax;
    text-transform: uppercase;
  }

  .container-content-product {
    margin-left: 26vmax;
    padding-top: 3vmax;
  }

  .product-content{
    margin: 3vmax 0 ;
  }

  .image-icon-1{
    height: 9vmax;
    width: 10vmax;
  }

  .lg-margin-top {
    margin-top: 2vmax;
  }

  .image-icon{
    height: 5vmax;
    width: 5vmax;
    margin-left: 2vmax;
  }

  .image-product  {
    position: absolute;
    float: left;
    min-height: 64vmax;
    width: 22vmax;
    margin-top: -4vmax;
  }

  .image-product-mobile {
    display: none;
  }

  h3, h4 {
    font-family: 'NeoSansBold';
  }

  h2 {
    font-family: 'NeoSansBold';
  }

  @media only screen and (max-width: 600px) {
    .image-icon, .image-icon-1{
      height: 12vmax;
      width: 12vmax;
      margin-top: 3vmax;

    }

    .mobile-margin-top {
      margin-top: 3vmax;
    }

    .image-product-mobile {
      display: block;
      width: 30%;
      height: 44vmax;
    }

    .title-product {
      font-size: 5vmax;
    }
    .container-content-product{
      margin: auto 2vmax;
    }

    .image-product  {
      /* position: absolute;
      float: left;
      height: 90vmax;
      width: 20vmax; */
      display: none;
    }

    .wrapper-product-service {
      min-height: 150vmax;
      margin-top: 10vmax;
    }

    .container-product {
      min-height: 145vmax;
      display: block;
      width: 100%;
      background: #f7f7f7;
    }

    h3, h4, h5 {
      margin: auto;
    }
  }
  /* @media only screen and (max-height: 732px){
    .wrapper-product-service {
      height: 170vmax;
    }
    .container-product {
      min-height: 170vmax;
    }
  } */

  @media only screen and (max-width: 1000px) {
    .image-product{
      display: none;
    }

    .container-content-product{
      margin: auto;
      padding: 2vmax;
    }
  }
</style>
