<template>
  <div class="wrapper-home-content">

    <section class="contatiner-advantages" id="advantages">
      <h2 class="title-content">{{$t('home.our_advantages_head')}}</h2>
      <div class="row container-content-advantages" id="ourAvantages" >
        <template v-for="i in contentAdvantages.length" >
          <div :key="i" class="col-lg-2 content-advantages">
            <div class="circle-icon"></div>
            <h4 class="text-content" onclick="">{{contentAdvantages[i - 1]}}</h4>
          </div>
        </template>
      </div>
    </section>

    <section class="container-certified" id="certified">
      <h2 class="title-content">{{$t('home.our_certified')}}</h2>
      <div class="row container-content-certified">
        <template v-for="(imageSertif, i) in imagesSertifikasi">
          <div :key="i" class="container-image-certified">
            <img class="img-fluid image-content-certified" :src="`${imageSertif.url_image}`" :alt="'certiefiedCangBani-' + i">
          </div>
        </template>
      </div>
    </section>

    <section class="container-client">
      <h2 class="title-content-client">{{$t('home.our_client')}}</h2>
      <div class="row container-content-client owl-theme">
        <template v-for="(imageClient, i) in imagesClient">
          <div :key="i" class="item container-image-client">
            <img class="img-fluid image-content-client" :src="`${imageClient.url_image}`" :alt="'certiefiedCangBani-' + i">
          </div>
        </template>
      </div>
    </section>

    <section class="contain-image-work" id="ourWorks">
      <h2 class="title-content">{{$t('home.our_works')}}</h2>
      <div class="owl-carousel owl-theme contain-image-work">
        <template v-for="(imageWork, idx) in controlImageWorks">
          <div :key="idx" class="item image-cont-work" :id="idx">
            <img :id="`image-work-${idx}`" class="img-fluid" :src="`${imageWork.url_image}`" alt="workCB" >
            <div :class="imageBg(idx)">
              {{textImageWork(imageWork.url_image)}}
            </div>
          </div>
        </template>
      </div>
      <div class="button-nav-works text-center">
        <nuxt-link type="button" :to="$store.state.lang == 'id' ? $i18n.path('pekerjaan-kami') : $i18n.path('our-works')" class="btn btn-dark">{{$t('home.fullsite')}}</nuxt-link>
      </div>
    </section>

  </div>
</template>

<script>
export default {
  data(){
    return {
      imagesSertifikasi : [],
      imagesClient : [],
      imagesWorks : []
    }
  },
  computed : {
    contentAdvantages(){
      return this.$t('home.our_advantages').split(",")
    },
    controlImageWorks(){
      if(this.imagesWorks.length < 5){
        return this.imagesWorks
      }else {
        let imageCount = this.imagesWorks.length - 5
        const x = Math.floor(Math.random() * imageCount)
        const y = x + 5
        return this.imagesWorks.slice(x, y)
      }
    }
  },
  methods :{
    imageBg(index){
      return index % 2 == 0 ? 'text-image-work bg-color-works-1' : 'text-image-work bg-color-works-2'
    },
    textImageWork(filename){
      return filename.replace(/^.*[\\\/]/, '').split('.')[0].split('-')[1]
    },
    nextMove(){

      var owl = $('.owl-carousel');
      owl.owlCarousel();
      owl.trigger('next.owl.carousel');
    },
    prevMove(){
      var owl = $('.owl-carousel');
      owl.owlCarousel();
      owl.trigger('prev.owl.carousel');
    },
    assignImageToLocalState(){
      this.imagesSertifikasi = this.$store.state.imagesHome.filter(item => item.content_type_id === 1)
      this.imagesClient = this.$store.state.imagesHome.filter(item => item.content_type_id === 2)
      this.imagesWorks = this.$store.state.imagesHome.filter(item => item.content_type_id === 3)
    },
  },
  mounted(){

    $(document).ready(() => {
      $('.owl-carousel').owlCarousel({
        center:true,
        // loop : true,
        responsiveClass:true,
        startPosition: 1,
        margin:35,
        responsive:{
            0:{
              items: 2
            },
            700 : {
              item : 5
            }
          }
      })
    })


    this.assignImageToLocalState()
  },
}
</script>

<style lang="css">
  .image-cont-work{
    margin-bottom: 3vmax;
    height: 25vmax;
    width: 25vmax;
  }
  .bg-color-works-1 {
    background-color: orange;
  }
  .bg-color-works-2 {
    background-color: gray;
  }
  .text-image-work {
    color: white;
    width: 15vmax;
    height: 5vmax;
    margin-top: -2vmax ;
    position: relative;
    text-align: center;
    padding-top: 1vmax;
    font-size: 1.3vw;
    text-transform: capitalize;
    vertical-align:middle;
    justify-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
  }

  .wrapper-home-content {
    /* min-height: 165vmax; */
  }

  .button-nav-works{
    margin-top: 1vmax;
    margin-bottom: 5vmax;
    left: 50%;

  }
  .container-certified{
    height: 33vmax;
    padding-top: 3vmax;
  }
  .contatiner-advantages,
  .contain-image-work,
  .container-client{
    width: 100%;
    min-height: 30vmax;
    padding-top: 3vmax;
  }

  .container-client {
    background-color: #f7f7f7;
    margin: 0;
  }

  .circle-icon {
    height: 2vmax;
    width: 2vmax;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 1vmax;
    top : 1vmax;
  }

  .container-content-advantages {
    justify-content: center;
    margin: 3vmax 0;
    padding: 0 1vmax;

  }
  .text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content-advantages{
    height: 14vmax;
    display: flex;
    justify-content: center;
    margin: 1vmax;
    text-align: center;
    border-radius: 8px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 6px 8px 8px -5px rgba(0,0,0,0.35);
    -moz-box-shadow: 6px 8px 8px -5px rgba(0,0,0,0.35);
    box-shadow: 6px 8px 8px -5px rgba(0,0,0,0.35);
  }

  .content-advantages:hover {
    background-color: #949494;
    color: white;
    cursor: pointer;
  }

  .title-content-client {
    text-align: center;
    font-size: 3vmax ;
    font-weight: 700;
  }
  .title-content {
    font-weight: 700;
    text-align: center;
    font-size: 3vmax ;
    margin-top: 4vmax;
  }

  .container-content-certified,
  .container-content-client {
    margin: 5vmax 0;
    text-align: center;
    justify-content: center;
  }

  .container-image-certified,
  .container-image-client {
    justify-content: space-between;
    margin: auto 0;
    width: 14vmax;
  }

  .image-content-certified,
  .image-content-client {
    width: 10vmax;
  }
  @media only screen and (max-width: 600px) {
    .content-advantages {
      margin: 1vmax 3vmax;
    }
    .title-content{
      font-size: 1.7rem;
      width: 100%;
    }
    .text-image-work {
      color: white;
      width: 15vmax;
      height: 6vmax;
      margin-top: -4vmax ;
      position: relative;
      text-align: center;
      padding-top: 1vmax;
      font-size: 3vw;
      text-transform: capitalize;
      vertical-align:middle;
      justify-items: center;
      align-content: center;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .text-image-work{
      font-size: 1.3vw;
    }
  }
</style>
