@font-face {
  font-family: 'Eina 2';
  font-style: normal;
  src: url("./fonts/EINA02-BOLD.TTF") format('ttf');
  src: url("./fonts/EINA02-BOLDITALIC.TTF") format('ttf');
  src: url("./fonts/EINA02-LIGHT.TTF") format('ttf');
  src: url("./fonts/EINA02-REGULAR.TTF") format('ttf');
  src: url("./fonts/EINA02-SEMIBOLD.TTF") format('ttf');
  src: url("./fonts/EINA02-REGULAR.TTF") format('ttf');
}

@font-face {
  font-family: 'Neo Sans';
  font-style: normal;
  src: url("./fonts/NEO_SANS_BOLD.TTF") format('ttf');
  src: url("./fonts/NEO-SANS-STD-BOLD-ITALIC.OTF") format("otf");
  src: url("./fonts/NEO-SANS-STD-LIGHT.OTF") format("otf");
  src: url("./fonts/NEO-SANS-STD-BLACK-ITALIC.OTF") format("otf");
  src: url("./fonts/NEO-SANS-STD.OTF") format("otf");
  src: url("./fonts/NEO-SANS-STD-BLACK-ITALIC.OTF") format("otf");
}
