@font-face {
  font-family: 'NeoSans';
  font-style: normal;
  src: url("/assets/fonts/NEO-SANS-STD.OTF");
}

@font-face {
  font-family: 'NeoSansBold';
  font-style: normal;
  src: url("/assets/fonts/NEO_SANS_BOLD.TTF");
}

@font-face {
  font-family: 'NeoSansBoldItalic';
  font-style: normal;
  src: url("/assets/fonts/NEO-SANS-STD-BOLD-ITALIC.OTF");
}

@font-face {
  font-family: 'NeoSansLight';
  font-style: normal;
  src: url("/assets/fonts/NEO-SANS-STD-LIGHT.OTF");
}

@font-face {
  font-family: 'NeoSansBlackItalic';
  font-style: normal;
  src: url("/assets/fonts/NEO-SANS-STD-BLACK-ITALIC.OTF");
}
