<template>
  <div  class="wrapper">
    <AboutTitle />
    <AboutIntro />
    <AboutContent />
  </div>
</template>

<script>
export default {
  middleware : 'i18n',
  components : {
    AboutTitle : () => import("~/components/Content/AboutTitle"),
    AboutIntro : () => import("~/components/Content/AboutIntroduction"),
    AboutContent : () => import("~/components/Content/AboutContent"),
  },
  head () {
    return {
      title: this.$t('about.subtitle'),
      meta: [
        { hid: 'og:title', name: 'og:title', content: `Cang Bani- ${this.$t('about.subtitle')}`},
        { hid: 'title', name: 'title', content: `Cang Bani - ${this.$t('about.subtitle')}`},
        { hid: 'og:description', name: 'og:description', content: `PT. Cang Bani Industries - ${this.$t('about.subtitle')} - ${this.$t('about.core_values_content')}, ${this.$t('about.vision_content')}`},
        { hid: 'description', name: 'description', content: `PT. Cang Bani Industries - ${this.$t('about.subtitle')} - ${this.$t('about.core_values_content')}, ${this.$t('about.vision_content')}`},
        {
          hid: 'og:image',
          property: 'og:image',
          content: '/assets/image/Logo-CB-Website.png'
        },
      ],
    }
  },

}
</script>
