<template>
  <div class="wrapper">
    <ContactTitle />
    <ContactAddress />
    <ContactImageCBTeam />
  </div>
</template>

<script>
export default {
  components : {
    ContactTitle : () => import("~/components/Content/ContactTitle"),
    ContactAddress : () => import("~/components/Content/ContactAddress"),
    ContactImageCBTeam : () => import("~/components/Content/ContactImage"),
  },
  middleware : 'i18n',
  head () {
    return {
      title: this.$t('home.title'),
      meta: [
        { hid: 'og:title', name: 'og:title', content: `Cang Bani- ${this.$t('home.title')}`},
        { hid: 'title', name: 'title', content: `Cang Bani - ${this.$t('home.title')}`},
        { hid: 'og:description', name: 'og:description', content: `Contact - PT. Cang Bani Industries - ${this.$t('contact.subtitle')} - ${this.$t('contact.email')}, ${this.$t('contact.whatsapp')}`},
        { hid: 'description', name: 'description', content: `PT. Cang Bani Industries - ${this.$t('contact.subtitle')} - ${this.$t('contact.email')}, ${this.$t('contact.whatsapp')}`},
        {
          hid: 'og:image',
          property: 'og:image',
          content: '/assets/image/Logo-CB-Website.png'
        },
      ],
    }
  },

}
</script>
