<template>
  <div class="wrapper">
    <HomeTitle />
    <HomeIntro />
    <HomeProductServices />
    <HomeContent />
  </div>
</template>

<script>

export default {
  middleware : 'i18n',
  components : {
    HomeTitle : () => import("~/components/Content/HomeTitle"),
    HomeIntro : () => import("~/components/Content/HomeIntroduction"),
    HomeProductServices : () => import("~/components/Content/HomeProductService"),
    HomeContent : () => import("~/components/Content/HomeContent")
  },
  data() {
    return {
      titlePage : 'Cang Bani'
    }
  },
  head () {
    return {
      title: this.$t('home.title'),
      meta: [
        { hid: 'og:title', name: 'og:title', content: `${this.titlePage} - ${this.$t('home.title')}`},
        { hid: 'title', name: 'title', content: `${this.titlePage} - ${this.$t('home.title')}`},
        { hid: 'og:description', name: 'og:description', content: `PT. Cang Bani Industries - ${this.$t('home.title')} - ${this.$t('home.product_content_1')}, ${this.$t('home.product_content_2')}`},
        { hid: 'description', name: 'description', content: `PT. Cang Bani Industries - ${this.$t('home.title')} - ${this.$t('home.product_content_1')}, ${this.$t('home.product_content_2')}`},
        {
          hid: 'og:image',
          property: 'og:image',
          content: '/assets/image/Logo-CB-Website.png'
        },
      ],
    }
  },
  async fetch({store}){
    await store.dispatch('GET_IMAGES_HOMEPAGE')
  },
  mounted(){

  }
}
</script>
<style>
  html, body {
    scroll-behavior: smooth;
    font-family: "NeoSans" !important;
    font-weight: normal;
  }
</style>
