<template>
  <div class="container">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0"><strong>{{$t('home.our_works')}}</strong></h1>

    <hr class="mt-2 mb-5">
    <div class="row text-center text-lg-left">

      <template v-for="(imageWork, idx) in imagesWorks">
        <div :key="idx" class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" :src="imageWork.url_image" alt="workCB">
            <div :class="imageBg(idx)">
              {{textImageWork(imageWork.url_image)}}
            </div>
          </div>
        </div>
      </template>

    </div>

  </div>
</template>

<script>
export default {
  head () {
    return {
      title: this.$t('home.our_works'),
      meta: [
        { hid: 'description', name: 'description', content: ` PT. Cang Bani Industries - ${this.$t('home.subtitle_1')} ${this.$t('home.subtitle_2')}`},
        { hid: 'og:description', name: 'og:description', content: ` PT. Cang Bani Industries - ${this.$t('home.subtitle_1')} ${this.$t('home.subtitle_2')}`}
      ],
    }
  },
  data() {
    return  {
      imagesWorks : [],
      selected : ""
    }
  },
  methods : {
    textImageWork(filename){
      return filename.replace(/^.*[\\\/]/, '').split('.')[0].split('-')[1]
    },
    imageBg(index){
      return index % 2 == 0 ? 'text-image-work bg-color-works-1' : 'text-image-work bg-color-works-2'
    },
  },
  async fetch({store}){
    await store.dispatch('GET_IMAGES_HOMEPAGE')
  },
  mounted() {
    this.imagesWorks = this.$store.state.imagesHome.filter(item => item.content_type_id === 3)
  }
}
</script>

<style>

</style>
