<template>
  <div>
    <iframe src="https://docs.google.com/gview?url=https://cangbani.com/kebijakan-privasi/Privacy_Policy.pdf&embedded=true" style="width:100%; height:85vmax;" class="container-privacy" frameborder="0"></iframe>
  </div>
</template>

<script>
export default {
  head () {
    return {
      title: this.$t('about.title'),
      meta: [
        { hid: 'description', name: 'description', content: `PT. Cang Bani Industries`}
      ],
    }
  },
}
</script>

<style>
</style>
